.giftcards_container{
    display: flex;
    justify-content: center;
}
.giftcards_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    margin-bottom: 3rem;
}
.giftcards_title{
    text-align: center;
    margin: 2rem 0;
}
.giftcards_parag{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.giftcards_parag p{
    width: 50%;
}
.giftcards_sections{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.2rem;
}
.giftcards_img div ul li {
    list-style-type: disc;
    margin-top: 1.2rem;
}
.giftcards_img div ul li a{
    color: red;
}
.giftcards_form form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.form-emails{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.giftcards-amount{
    display: flex;
    gap: 0.8rem;
    align-items: center;
}
.giftcards-amount div{
    display: flex;
    gap: 0.2rem;
    align-items: center;
}
.giftcards-amount div label {
    font-size: 1rem;
}
.giftcards-message textarea {
    height: 3.8rem;
    border-radius: 0.2rem;
    border: 2px solid #b7b4bb;
    padding: 0.4rem;
    font-size: 1rem;
}
.btn-giftcards{
    background-color: red;
    color: white;
    height: 2.5rem;
    border-radius: 1rem;
    cursor: pointer;
}

/************* Media queries (medium devices) ************/
@media screen and (max-width : 1024px) {
    .giftcards_content{
        width: 95%;
    }
    
    .giftcards_parag p{
        width: 90%;
    }
    .giftcards_sections{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .giftcards_logo{
        display: flex;
        justify-content: center;
    }
    .giftcards_logo img{
        width: 80%;
    }
}

/************* Media queries (small devices) ************/
@media screen and (max-width : 760px) {
    .form-emails{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .giftcards-amount{
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        align-items: center;
    }
    .giftcards_img{
        margin-left: 0.8rem;
    }
}